VITE_SUPABASE_URL=sb_publishable_jCgvfP7dqQWVODEahwCEVw_rX8_RMbO
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nc3F4Y3NlenV3bHJhdmFzdmpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1ODE2MDAsImV4cCI6MjA4ODE1NzYwMH0.LzbRJmvnMXum6pv1_fT-K5uogHH-e7IxYlvgirSNDxY